<h1>Import Details</h1>

<p><b>File Name:</b> <%= @import.file_name %></p>
<p><b>Status:</b> <%= @import.status %></p>
<p><b>Total Rows:</b> <%= @import.total_rows %></p>
<p><b>Successful Rows:</b> <%= @import.successful_rows %></p>
<p><b>Failed Rows:</b> <%= @import.failed_rows %></p>
<p><b>Processed Rows:</b> <%= @import.processed_rows %></p>

<%= link_to "Back", imports_path %>