<%= form_with model: @book do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>