<!DOCTYPE html>
<html>
  <head>
    <title>CSV Import Framework</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app-shell">
      <aside class="sidebar">
        <h2>CSV Importer</h2>
        <%= link_to "Import History", imports_path %>
        <%= link_to "New Import", new_import_path %>
      </aside>

      <main class="main-content">
        <% if notice %>
          <div class="alert success"><%= notice %></div>
        <% end %>

        <% if alert %>
          <div class="alert error"><%= alert %></div>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>